{% extends "base.html" %}

{% block content %}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
<!--    подключение стилей-->
    <link type="text/css" href="{{ url_for('static', filename='css/style_contact.css')}}" rel="stylesheet"/>
</head>
{% for cat, msg in get_flashed_messages(True) %} <!--мгновенные сообщение об отправке-->
<!--True указывает что вывод в таком порядке: cat, msg -->
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}
<body class="fon_contact">
<form action="/contact" method="post" >
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
            <h1 class="form-title">
                Привет! <br>Напишите мне и я Вам отвечу как можно скорее
            </h1>
            <div>
                <div class="form-field">
                    <input type="text" placeholder="Имя" name="username" value="" required/>
                </div>
                <div class="form-field">
                    <input type="email"  placeholder="Email" name="email" value="" required/>
                </div>
                <div class="form-field">
                    <textarea name="message" placeholder="Сообщение" rows="7" cols="40" ></textarea>
                </div>
            </div>
                <div class="form-buttons">
                    <button class="button" type="submit">Отправить</button>
                    <button class="button" type="reset">Сбросить</button>
                </div>

        </div>
    </main>
</form>
</body>
{% endblock content %}
