{% extends "base.html" %}

{% block content %}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
<!--    подключение стилей-->
    <link type="text/css" href="{{ url_for('static', filename='css/style_index.css')}}" rel="stylesheet"/>
</head>
<body class="fon_index">
    <p class="blocks_menu">
        {% block mainmenu %}
            {% for i in menu %}
                <a href="{{ i.url }}"> {{ i.name }}</a> &nbsp&nbsp
            {% endfor %}
        {% endblock mainmenu %}
    </p>
    <p>
        Число просмотров: {{ count }}
    </p>

</body>
{% endblock content %}